<!-- sns_box -->
<div class="sns_box">
  <div class="sns_title">
    <h1>Edit profile</h1>
  </div>
  <div class="sns_title_sha"></div>
  <div class="sns_contents">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :nickname %> <em>(10 characters maximum)</em><br />
          <%= f.text_field :nickname, autofocus: true, maxlength: "10", class: "devise_form" %>
        </div>

        <div class="field">
          <%= f.label :text %> <em>(30 characters maximum)</em><br />
          <%= f.text_field :text, autofocus: true, maxlength: "30", class: "devise_form" %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "devise_form" %>
        </div>

        <label class="sns_form3">
          <p>Select an image</p>
          <%= f.file_field :image, autofocus: true, class: "form_image" %>
        </label>

        <div class="actions">
          <%= f.submit "Save", class: "devise_btn" %>
        </div>
      <% end %>
  </div>
</div>
