<!-- sns_box -->
<div class="sns_box">
  <div class="sns_title">
    <h1>Profile</h1>
  </div>
  <div class="sns_title_sha"></div>
  
  <div class="profile_contents">
    <div class="profile_box">
      <div class="profile_icon">
        <div class="profile_inner">
        <% if @user.image.attached? %>
          <%= image_tag @user.image.variant(gravity: :center, resize:"640x640^", crop:"640x640+0+0").processed, class: 'profile_inner_img'%>
        <% end %>
        </div>
      </div>
      <div class="profile_link">
        <%= link_to 'Edit profile', edit_user_registration_path(@user.id), method: :get %>
      </div>
    </div>
    <div class="profile_text">
      <h1><%= @user.nickname %></h1>
      <p><%= @user.text %></p>
    </div>
  </div>
  <% @snsposts.each do |snspost| %>
  <div class="sns_contents">
    <div class="sns_icon">
      <div class="icon_inner">
        <p>
        <% if snspost.user.image.attached? %>
          <%= image_tag snspost.user.image.variant(gravity: :center, resize:"640x640^", crop:"640x640+0+0").processed, class: 'icon_inner_img'%>
        <% end %>
        </p>
      </div>
    </div>
    <div class="sns_text">
      <div class="name_box">
        <h1><%= snspost.user.nickname %></h1>
        <div class="sns_drop">
          <img src="/assets/down.png" alt="">
          <div class="sns_drop_box">
            <%= link_to '詳細', snspost_path(snspost.id), method: :get %>
            <%= link_to '編集', edit_snspost_path(snspost.id), method: :get %>
            <%= link_to '削除', snspost_path(snspost.id), method: :delete %>
          </div>
        </div>  
      </div>
      <p class="sns_p"><%= snspost.text %></p>
      <%= image_tag snspost.image, alt: "Rails icon", class: "sns_img" if snspost.image.attached? %>
    </div>
  </div>
  <% end %>

</div>
<!-- /sns_box -->