<!-- sns_box -->
<div class="sns_box">
  <div class="sns_title">
    <h1>Sign in</h1>
  </div>
  <div class="sns_title_sha"></div>
  <div class="sns_contents">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :nickname %> <em>(10 characters maximum)</em><br />
        <%= f.text_field :nickname, autofocus: true, maxlength: "10", class: "devise_form" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "devise_form" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "devise_form" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in", class: "devise_btn" %>
      </div>
    <% end %>
  </div>
</div>
